.input_block {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 16px;
}

.btn_add {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
}

.content_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 16px;
}

.card_item {
    display: flex;
    margin: 8px;
 
}

ul {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
}

ul>li {
    list-style-type: none;
}

.del_btn {
    border-radius: 50px;
    margin-left: 20px;  
}