.main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}

.img {
    width: 200px;
    height: 200px;
    margin: 16px;
}

.title {
    text-align: center;
    margin: 0;
    font-size: 30px;
}